<?xml version="1.0"?>

<robot name="robot" xmlns:xacro="http://ros.org/wiki/xacro">




  <!-- main body model  -->
  <!-- ODOM  to base_link -->

  <link name="base_link">
  </link>


  <joint name="base_joint" type="fixed">
    <parent link="base_link" />
    <child link="base_footprint" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="base_footprint"></link>



  <joint name="chassis_connect_joint" type="fixed">
    <parent link="base_link" />
    <child link="chassis" />
    <origin xyz="0 0 0"  rpy="0 0 0" />
  </joint>

  <link name="chassis">
    <inertial>
      <mass value="8.0"/>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>

  <joint name="chassis_joint" type="fixed">
    <parent link="chassis" />
    <child link="Link" />
    <origin xyz="0 0 0"  rpy="0 0 -${pi/2}" />
  </joint>





  
</robot>